.navbar {
  height: 100%;
  background-color: var(--secondary-color);
  width: 200px;
  align-items: center;
  .row {
    width: 100%;
    text-align: center;
    border-radius: 4px;
    justify-content: center;
  }
  .selected-border {
    border-right: 1px solid var(--complementary-color);
  }
  button {
    width: 90%;
    height: 100%;
    border: none;
    padding: 20px;
    margin: 0 auto;
    background-color: transparent;
    transition: background-color 0.5s;
    cursor: pointer;
    display: flex;
    align-items: center;
    &:hover {
      background-color: var(--highlight-color);
    }
    font-size: 1rem;
  }
  .icon {
    margin: 0 5px;
  }
}
