.button {
  width: 100%;
}

.closeButton {
  height: unset;
  width: unset;
  position: fixed;
  top: 10%;
  left: 85%;
  background-color: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
