* {
  box-sizing: border-box;
}

:root {
  --primary-color: #f7f7f7;
  --secondary-color: #eff1f3;
  --border-color: #d2d7dd;
  --complementary-color: #f58870;
  --neutral-color: #0966d3;
  --font-color: #545d67;
  --font-color-dark: #23282e;
  --highlight-color: #e3e6ea;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--primary-color);
  font-family: "Segoe UI", Arial, sans-serif;
  color: var(--font-color-dark);
}

h1 {
  padding: 0;
  margin: 0;
  gap: 0;
  border: 0;
}

input {
  outline-color: var(--neutral-color);
  border: 1px solid var(--border-color);
  height: 40px;
  color: var(--font-color-dark);
}

button {
  outline: none;
}

.global {
  height: 100vh;
  width: 100vw;
  background-color: var(--primary-color);
  display: flex;
}

.wrapper {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 5px 0;
}

.cell {
  width: 100%;
}
.title {
  width: 100%;
  text-align: center;
}

.form {
  padding: 40px;
  background-color: var(--secondary-color);
}

.close-button {
  background-color: transparent;
  border: transparent;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.submit-button {
  width: 100%;
  height: 40px;
  margin: 10px auto;
  font-size: 1.5rem;
  color: var(--primary-color);
  background-color: var(--neutral-color);
  cursor: pointer;
  border: none;
  border-radius: 4px;
  outline: none;
}

.input-field {
  width: 100%;
  padding: 5px;
  margin: 10px auto;
  display: inline-block;
  input {
    background-color: var(--darkened-primary-color);
    width: 100%;
    padding: 5px;
  }
}

.table {
  width: 70vw;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  border-collapse: collapse;
  border-radius: 8px;
  border-style: hidden;
  box-shadow: 0 0 0 1px var(--border-color);
  overflow: hidden;

  th,
  td {
    padding: 12px 15px;
    border-bottom: 1px solid var(--border-color);
    text-align: center;
  } 

  th {
    background-color: var(--secondary-color);
  }

  tr:hover {
    background-color: var(--secondary-color);
  }
}

.max-height {
  height: 100%;
}

.max-width {
  width: 100%;
}

.border-1px {
  border: 1px solid var(--border-color);
}

.align-center {
  justify-content: center;
  align-items: center;
}
